.content {
    box-shadow: 0 4px 2px -2px gray;
    background-color: white;
    height: auto;
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.headerThree {
    display: flex;
    justify-content: flex-start;
    margin: 0 0 0 20px;
    color: rgba(255,255,255,0.6);
    text-shadow: 2px 4px 2px rgba(255,255,255,0.7);
    font-family: "impact";
}

.linkdInIcon {
    height: 45px;
    width: 55px;
}

.githubIcon {
    height: 45px;
    width: 45px;
}

.orgIcons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
